<main class="contenedor">
    <form action="/crearCuenta" method="post" class="default-form">
        <section id="crearCuenta" class="main special">
			<header class="major">
				<h2>Crear cuenta</h2>
			</header>
			<ul class="features">
				<li>
                    <h3>Nombre :</h3>
                    <input name="user" placeholder="Nombre " type="text" />
                                        
					<h3>Correo Electrónico:</h3>
                    <input name="user" placeholder="Correo Electrónico" type="text" />

                    <h3>Contraseña :</h3>
                    <input type="password" name="password" placeholder="Contraseña">

                    <h3>Repetir contraseña :</h3>
                    <input type="password" name="password" placeholder="Repetir contraseña ">
				</li>
			</ul>
			<footer class="major">
				<ul class="actions special">
					<li><a type= "submit" href="#" class="button">Crear Cuenta</a></li>
				</ul>
			</footer>
		</section>
    </form>
</main>