<main class="is-preload">
        <section id="administracion" class="main centrad">

			<div id="wrapper">	
                <span class="image"><img src="/images/400.gif" alt="" /></span>
        </section>

        <footer class="major">
			<ul class="actions special">
                <a href="/home" class="button primary"> Regresar a la pantalla de inicio </a>
			</ul>
		</footer>
</main>    



