<!-- Principal -->
<div id="main">

    <!-- Descripcion -->
		<section id="" class="main">
			<div class="spotlight">
				<div class="content">
                    <ul class="features">
                       <header class="major">
						<h2>Lista de cuentas o registros financieros</h2>
					    </header>
                    </ul>

{{#each cuentas}}
                            <div class="">
                                <div class="major">
                                    <h3>Registro                 : {{nombre}}</h3>
                                    <h3>Monto  &nbsp;&nbsp;      : {{monto}}</h3>
                                    <a href="/cuenta/{{url}}" class="button primary">Ver toda la información del registro</a>
                                </div>
                                <br><br>
                            </div>
                            {{/each}}
	

				</div>
			</div>
		</section>
</div>
    


