<main class="contenedor">
    <form action="/iniciarSesion" method="post" class="default-form">
        <section id="iniciarSesion" class="main special">
			<header class="major">
				<h2>Crear cuenta</h2>
			</header>
			<ul class="features">
				<li>                                        
					<h3>Correo Electrónico:</h3>
                    <input name="user" placeholder="Correo Electrónico" type="text" />

                    <h3>Contraseña :</h3>
                    <input type="password" name="password" placeholder="Contraseña">

				</li>
			</ul>
			<footer class="major">
				<ul class="actions special">
					<input type="submit" value="Iniciar sesión" class="btn btn-azul">
				</ul>
			</footer>
		</section>
    </form>
</main>