<main class="contenedor">
    <form action="/iniciarSesion" method="post" class="default-form">
        <section id="iniciarSesion" class="main special">
			<header class="major">
				<h2>Crear cuenta</h2>
			</header>
			<ul class="features">
				<li>                                        
					<h3>Correo Electr칩nico:</h3>
                    <input name="user" placeholder="Correo Electr칩nico" type="text" />

                    <h3>Contrase침a :</h3>
                    <input type="password" name="password" placeholder="Contrase침a">

				</li>
			</ul>
			<footer class="major">
				<ul class="actions special">
					<li><a type= "submit" href="#" class="button">Acceder</a></li>
				</ul>
			</footer>
		</section>
    </form>
</main>