<main class="is-preload">
    <form action="/iniciarSesion" method="post" class="default-form">
        <section id="iniciarSesion" class="main special">

			<div id="wrapper">
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a>Descripción</a></li>

					</ul>
				</nav>		

				<!-- Principal -->
					<div id="main">
						<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>BIENVENIDO A FINANZAS PERSONALES</h2>
										</header>
										<p>Selecciona la opcion que deseas realizar.</p>
										<a href="#inicio" class="button primary">Iniciar sesión</a>
										<a href="/crearCuenta" class="button primary">Crear nuevo usuario</a>
									</div>
									<span class="image"><img src="/images/dinero.jpg" alt="" /></span>
								</div>
							</section>
							<!-- Inicio -->
							<section id="inicio" class="main">
								<div class="spotlight">
									<div class="content">
										<ul class="features">
											<br><br>
										</ul>
									</div>
								</div>

                		<!-- Inicio -->
							<section id="inicio" class="main">
								<div class="spotlight">
									<div class="content">
										<ul class="features">
											
											<li>    

												<header class="major">
												
												<h2>Inicio de sesión</h2>
												</header>
												<p>Comienza a administrar tus finanzas de una mejor manera.</p>                                    
														<h3 class="fas fa-at">  Correo Electrónico:</h3>
														<input name="email" placeholder="Correo Electrónico" type="email" /><br>

														<h3 class="fas fa-key">  Contraseña :</h3>
														<input type="password" name="password" placeholder="Contraseña">


											</li>
										</ul>
									</div>
								</div>
								<footer class="major">
									<ul class="actions special">
										<input type="submit" class="button primary" value="Iniciar sesión" class="">
									</ul>
								</footer>
							</section>
					</div>
			</div>
			
		</section>
    </form>
</main>