<main class="is-preload">
    <form method="post" class="default-form">
        <section id="" class="main special">

			<div id="wrapper">
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/home" class="fas fa-hand-point-left"> Regresar al inicio</a></li>
					</ul>
				</nav>		

				<!-- Principal -->
					<div id="main">
						<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Ingresa tu nueva contraseña</h2>
										</header>
										<p>Recuerda ingresar una contraseña que sea fácil de recordar para tí.</p>
                                        
                                        <div class="major">
                                            <label for="password">Nueva contraseña</label>
                                            <input type="password" name="password" placeholder="Ingresa tu nueva contraseña">
                                        </div><br>

										<div class="major">
                                            <input type="submit" value="Guardar nueva contraseña" class="button primary">
                                        </div>
									</div>
									<span class="image"><img src="/images/seguridad.gif" alt="" /></span>
								</div>
							</section>
					</div>
			</div>
        </section>
    </form>
</main>