<main class="contenedor">
    <form action="/cuenta/nueva" method="post" class="default-form">
        <h3>Nuevo Registro</h3>

        <div class="campo">
            <label for="nombre">Nombre de la cuenta:</label>
            <input type="text" name="nombre" placeholder="Salario, Renta, Supermercado, Ventas, etc...">
        </div>

        <div class="campo">
            <label for="salario">Monto (LPS):</label>
            <input type="text" name="monto" placeholder="L. 1200">
        </div>

        <div class="campo">
            <label for="Tcuenta">Tipo de cuenta</label>
            <select name="Tcuenta">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="ingreso">Ingreso</option>
                <option value="egreso">Egreso</option>
            </select>
        </div>

 <h3>Descripción de la cuenta</h3>
        <div class="campo">
            {{!-- Implementar un WYSIWYG --}}
            <label>Descripción</label>
            <input type="hidden" name="descripcion" id="x">
            <trix-editor input="x"></trix-editor>
        </div>

        <footer class="major">
				<ul class="actions special">
                    <input type="submit" value="Guardar Registro" >
                    <input type="submit" value="Cancelar" href="/" >
				</ul>
			</footer>
        
    </form>
</main>