<main class="is-preload">
    <form action="/reestablecerPassword" method="post" class="default-form">
        <section id="reestablecerPassword" class="main special">

			<div id="wrapper">
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/home" class="fas fa-hand-point-left"> Regresar al inicio</a></li>
					</ul>
				</nav>		

				<!-- Principal -->
					<div id="main">
						<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Oh no! Olvidaste tu contraseña.</h2>
										</header>
										<p>Ingresa tu correo electrónico para poder recuperar tu cuenta.</p>
                                        
                                        <div class="major">
                                            <label for="email">Correo electrónico</label>
                                            <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
                                        </div><br>

										<div class="major">
                                            <input type="submit" value="Restablecer contraseña" class="button primary">
                                        </div>
									</div>
									<span class="image"><img src="/images/seguridad.gif" alt="" /></span>
								</div>
							</section>
					</div>
			</div>
        </section>
    </form>
</main>