<h1 style="text-align: center; font-family: Source Sans Pro, Helvetica, sans-serif">Restablecer tu contraseña</h1>

<p style="font-family: Source Sans Pro, Helvetica, sans-serif;">Has solicitado restablecer tu contraseña, por favor has click en el
    siguiente enlace temporal, si se vence es necesario que vuelvas a solicitar el reestablecimiento de tu contraseña.
</p>

<a href="{{resetUrl}}" style="
    display: block;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #b233ff ;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;">Cambiar mi contraseña</a>

<p style="font-family: Source Sans Pro, Helvetica, sans-serif;">Si tienes inconveniente visita la siguiente página: {{resetUrl}}</p>